CHAIN_ID=5
TOKEN_ADDRESS=0x5d089486f3Ad4ca8Cd5A2c1E7ECFaF7294A74dd1
POOL_NAME=satis-v2

# Only for updating contracts
IS_UPDATE_ACTION=0
IS_UPDATE_SIGMA_ACTION=0
NEW_ACTION_ADDR=0x0
NEW_SIGMA_ACTION_ADDR=0x0
NEW_POOL_ADDR_LIST=0x0,0x0,0x0
NEW_POOL_NAME_LIST=satis1,satis2,satis3
PROXY_ADDR=0x0
SIGMA_PROXY_ADDR=0x0
